.about-maze {
    background-color: var(--background-color);
    width: 100%;
}

.about-maze .max-width-container {
    padding-left: 24px;
    padding-right: 24px;
}

.about-maze__info {
    padding-top: 30px;
}

.about-maze__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.about-maze__title {
    font-size: 38px;
    font-weight: 900;
    line-height: 1.18;
    letter-spacing: -.021em;
}

.about-maze__paragraph {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 25.5px;
    color: var(--text-about-paragraph);
}

.about-maze__our-progress {
    padding-top: 20px;
    padding-bottom: 73px;
}

.about-maze__our-progress>div {
    text-align: center;
}

.our-progress__quantity {
    font-size: 38px;
    font-weight: 900;
    color: var(--text-secondary-color);
    letter-spacing: -.021em;
}

.our-progress__text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}