.coming-soon .max-width-container {
    padding: 85px 15px 0px 15px;
}

.coming-soon__title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 45px;
}

.coming-soon__treasure-ilend {
    padding-top: 230px;
    background-image: linear-gradient(var(--overlay-backdround-coming-soon-dark), var(--overlay-backdround-coming-soon-dark)),
        url(../img/pirat-kid.webp);
    background-position: 38.44% 49.18%;
    background-size: cover;
    background-repeat: no-repeat;
}

.coming-soon__dead-or-alive {
    padding-top: 209px;
    background-image: linear-gradient(var(--overlay-backdround-coming-soon-dark), var(--overlay-backdround-coming-soon-dark)),
        url(../img/dead-or-alive.webp);
    background-position: 45% 49.74%;
    background-size: cover;
    background-repeat: no-repeat;
}

.coming-soon__cyberpunk .coming-soon__conainer {
    background-color: var(--background-text-coming-soon);
}
.coming-soon__treasure-ilend .coming-soon__conainer, .coming-soon__dead-or-alive .coming-soon__conainer {
    background-color: var(--background-text-coming-soon-dark);
}

.coming-soon__conainer {
    padding: 37px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.coming-soon__cyberpunk {
    background-image: linear-gradient(var(--overlay-backdround-coming-soon), var(--overlay-backdround-coming-soon)),
        url(../img/cybepank-man-in-glass.webp);
    background-position: 71.56% 42.15%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 545px;
}

.coming-soon__line {
    color: var(--side-line-coming-soon);
}
@media (min-width:768px) {
    .coming-soon .max-width-container {
        padding: 85px 32px 0px 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .coming-soon__cyberpunk {
        grid-area: 1/1/2/3;
    }
    .coming-soon__treasure-ilend {
        grid-area: 2/1/3/2;
    }
    .coming-soon__dead-or-alive {
        grid-area: 2/2/3/3;
    }
}