@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
    --text-main-color: #ffffff;
    --text-secondary-color: #806eff;
    --button-form-color: #141616;
    --background-form-color: #ffc535;
    --text-form-color: #0d0e10;
    --background-color: #000000;
    --text-input-color: #000000;
    --text-about-paragraph: #d6d6d6ff;
    --form-input-color: #ffffff38;
    --outline-form-input-color: #3b99fc;
    --overlay-backdround-coming-soon: #00000030;
    --overlay-backdround-coming-soon-dark: #00000038;
    --background-text-coming-soon: #00000082;
    --background-text-coming-soon-dark: #070b0bc4;
    --side-line-coming-soon: #ffc535;
    --block-color: #121313;
    --brand-color: #806eff;
    --accent-color: #ffc535;
    --header-line-background-color: #141616;
    --header-number-color: #ffffff;
    --header-text-color: #ffffff;
    --header-accent-color: #ffc535;
    --header-button-color: #806eff;
    --footer-background-color: #0d0e10;
    --footer-text-color: #ffffff;
    --footer-accent-color: #ffc535;
    --brand-color: #806eff;
    --banner-text-color: #ffffff;
    --banner-left-button-color: #ffc535;
    --banner-left-button-color-hover: #ffa700;
    --banner-right-button-color: #806eff;
    --banner-right-button-color-hover: #806eff;

    color: var(--text-main-color);
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

@media (min-width: 1200px) {
    .max-width-container {
        width: 1200px;
        margin: auto;
    }
}