:root {
    --taxt-main-color:#fff;
    --text-secondsry-color:#806eff;
    --batton-form-color:#0d0e10;
    --background-form-color:#FFC535;
    --text-form-color:#0d0e10;
    --background-color:#000000;
    color: var(--taxt-main-color);
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}
@media (min-width: 1170px) {
    
}
.max-width-container {
    max-width: 1170px;
    margin: auto;
}