/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/* Конкретный слайдер*/
.gallery__slider {
    position: relative;
    padding: 0px 60px;
}
.gallery__slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: 25px 0px 0px 0px;
    z-index: 10; 
    font-size: 0;
}
.gallery__slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/sl-arrow-l.svg') 0 0 / 100% no-repeat;
    width: 50px;
    height: 50px;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/sl-arrow-r.svg') 0 0 / 100% no-repeat;
    width: 50px;
    height: 50px;
}
.gallery__slider .slick-dots {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.gallery__slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}
.gallery__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
.gallery__slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}