.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-slide {
    text-align: center;
    height: inherit;
}

.slick-dots li {
    opacity: .55;
}

.slick-dots li:hover {
    opacity: 1;
}

.slick-dots li.slick-active {
    opacity: 1;
}

.gallery__slider  {
    width: 100%;
    position: relative;
    margin-bottom: 210px;
}

.gallery__slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0px;
    width: 40px;
    height: 60px;
    cursor: pointer;
    border: none;
}

.gallery__slider .slick-arrow.slick-prev {
    background: url('../img/sl-arrow-l.svg') center / 100% no-repeat;
    left: 50px;
}

.gallery__slider .slick-arrow.slick-next {
    background: url('../img/sl-arrow-r.svg') center / 100% no-repeat;
    right: 50px;
}

.gallery__slider .slick-dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    cursor: pointer;
}

.gallery__slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.gallery__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.gallery__slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}
