.how-to-play {
    vertical-align: baseline;
    background-color: var(--background-color);
    color: var(--text-about-paragraph);
    margin-left: 9px;
    margin-right: 9px;
}

.how-to-play__title {
    /*font: var(--accent-font);*/
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.798px;
    text-align: center;
    color: var(--text-main-color);
    margin: 45px;
}

.how-to-play__rule {
    background-color: var(--block-color);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    padding: 34px 28px 34px 28px;
}

.rule__pic {
    filter: invert(90%) sepia(15%) saturate(2847%) hue-rotate(328deg) brightness(104%) contrast(103%);
    height: 50px;
    max-height: 100%;
    max-width: 100%;
}

.rule__text {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    margin-block-start: 20px;
}

.how-to-play__rules {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .how-to-play {
        margin-left: 17px;
        margin-right: 17px;
    }
    
    .how-to-play__rules {
        grid-template-columns: 1fr 1fr;
    }

    .how-to-play__rule {
        height: 209px;
    }


    .how-to-play__title {
        font-size: 44px;
    }

    .rule__pic {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .how-to-play {
        margin: auto;
    }

    .how-to-play__rules {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .how-to-play__rule {
        max-width: 370px;
        height: 221px;
        width: 33.3333%;
    }

    .how-to-play__title {
        font-size: 50px;
    }
}