*{
        font-family: Raleway;
 }
.wrapper__text {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../img/our-rooms-jumanji.png);
    font-size: 60px;
    max-height: 352px;
    min-height: 600px;
}
@media (min-width:768px) {

}

    .content__title {
        display: flex;
        text-align: start;
    }

.main-jumanji {
    display: grid;
    justify-content: space-between;

}
@media (min-width:768px) {
    .main-jumanji {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}