@import url(common.css);

.wrapper__text {
    display: flex;
    display: block;
    justify-content: center;
    text-align: center;
    background-image: url(../img/our-rooms-jumanji.png);
    padding-top: 250px;
    font-size: 60px;
    min-height: 600px;
    width: 100%;
    min-width: auto;
    margin: auto;
    background-size: 100%;
    max-height: 1200px;
    object-fit: cover;
}

svg {
    margin-right: 100px;

}

.content__title {
    display: flex;
    text-align: start;
    max-width: 1200px;
    margin-left: auto;
}

.content-about {
    max-width: 1170px;
    margin-top: 40px;
    min-height: 100%;
}

.content__text {
    display: grid;
    grid-template-rows: 1fr;
    font-size: 17px;
    margin-top: 30px;
}

.about-us__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
}

.content__word {
    color: var(--accent-color);
}

.gallery-jumanji__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 44px;
    margin: 25px;
}

.gallery-jumanji__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.gallery-jumanji__img {
    max-width: 100%;
    max-height: 300px;
    min-width: 250px;
}

.gallery-jumanji__wrapper img {
    object-fit: cover;
    max-width: 100%;
    padding: 15px;
    height: 100%;
    width: 100%;
}

.carousel__slide-container img {
    display: grid;
    grid-template-columns: 1fr;
    object-fit: cover;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    padding: 15px;
}

@media (min-width:768px) {

    .carousel__slide-container img {
        display: grid;
        grid-template-columns: 1fr;
        object-fit: cover;
        max-width: 100%;
        padding: 15px;
        height: 100%;
        width: 100%;
        max-height: 850px;
    }

    .gallery-jumanji__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 100%;
        margin: 0px;
        align-self: center;
        justify-self: center;
    }

    .gallery-jumanji__img {
        max-width: 100%;
        max-height: 300px;
        min-width: 150px;
    }

    .content__text {
        display: grid;
        grid-template-rows: 1fr;
        gap: 0px;
        align-items: center;
    }

    .about-us__wrapper {
        display: grid;
        grid-template-rows: 1fr;
        gap: 0px;
        align-items: center;
        padding-left: 30px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.3fr 1fr;
        margin-top: 30px;
        max-width: 1200px;
        margin: auto;
        justify-items: start;
    }

    .content-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        max-width: 100%;
        margin-left: 15px;
    }

    p {
        display: grid;
        align-items: center;
    }
}