.wrapper__text {
    display: flex;
    justify-content: center;
    background-image: url(../img/our-rooms-jumanji.png);
    font-size: 60px;
    max-height: 352px;
    min-height: 600px;
}


    .content__title {
        display: flex;
        text-align: start;
    }
